
<ion-content class="ion-padding">

  <topo-login title="Cadastro"></topo-login>
  <br><br>  <br><br> 

  <form [formGroup]="loginForm" (submit)="createUser()">
    <ion-item>
      <ion-icon name="person" color="if" slot="start"></ion-icon>
      <ion-input formControlName="nome" type="text" placeholder="Nome" autfocus="true"></ion-input>
    </ion-item> <br>
    <ion-item>
      <ion-icon name="person" color="if" slot="start"></ion-icon>
      <ion-input formControlName="snome" type="text" placeholder="Sobrenome" autfocus="true"></ion-input>
    </ion-item> <br>
    <ion-item>
      <ion-icon name="mail" color="if" slot="start"></ion-icon>
      <ion-input formControlName="email" type="email" placeholder="E-mail" autfocus="true"></ion-input>
    </ion-item> <br>

    <ion-item>
      <ion-icon name="lock-closed" color="if" slot="start"></ion-icon>
      <ion-input formControlName="password" type="password" placeholder="Senha"  autfocus="true"></ion-input>
    </ion-item> <br>

    <br>
    <ion-button [disabled]="loginForm.invalid" type="submit"  expand="block" color="if" fill="clear">Enviar</ion-button>
  </form> 
  <br><br>  
</ion-content>

<ion-footer>
  <ion-row>
    <ion-col>
      <ion-button [routerLink]="['/auth']" fill="clear" color="medium">Voltar</ion-button>
    </ion-col>        
  </ion-row>
</ion-footer>
